Repository gisaia/ARLAS-web-components, pull requests merged in 2019-05, with the labels that each got.

#258 Add id in html elements for tutoriel
  src/components/mapgl/mapgl.component.control.ts
  src/components/results/result-detailed-grid/result-detailed-grid.component.html
  src/components/results/result-detailed-item/result-detailed-item.component.html
  src/components/results/result-grid-tile/result-grid-tile.component.html
  src/components/results/result-list/result-list.component.html
  src/components/results/result-list/result-list.component.ts
Labels: type:maintenance

#259 Update lock files
  package-lock.json
  yarn.lock
Labels: type:maintenance

#263 Add more detail in error message during shape import
  src/app/mapgl-demo/mapgl-demo.component.html
  src/components/mapgl-import/mapgl-import-dialog.component.html
  src/components/mapgl-import/mapgl-import.component.ts
Labels: MAP, type:enhancement

#264 Add transformRequest options
  angular.json
  package-lock.json
  package.json
  src/app/mapgl-demo/mapgl-demo.component.html
  src/app/mapgl-demo/mapgl-demo.component.ts
  src/components/mapgl/mapgl.component.ts
  src/components/mapgl/mapgl.component.util.ts
  src/components/mapgl/model/mapSource.ts
Labels: MAP, type:enhancement

#266 Fix package release
  package-release.json
Labels: type:bug

#268 Fix version of @types/mapbox
  package-lock.json
  package-release.json
  package.json
  src/app/mapgl-demo/mapgl-demo.component.ts
  src/components/mapgl/mapgl.component.ts
  src/components/mapgl/mapgl.component.util.ts
  src/components/mapgl/model/mapSource.ts
  yarn.lock
Labels: MAP, type:bug
